body {
    /* tai nyra trumpesnis kreipinys i konkrecia foto! svarbu nurodyti foto pavadinima ir pazymeti jos formata */
    background: whitesmoke;
    margin: 0px;
}

/*cia parodoma, kaip montuoti besikeiciancius linkus ir kt. fonus*/
#w1 {
    width: 100px;
    height: 50px;
    -webkit-transition: 3s;
    transition: 3s;
}

.flex {
    display: flex;
}

/* vienas santykinis dydis gali buti zymimas 1em (tai atitinka mazdaug 16 px dydi). si dydi vienodai supranta visis narsykliu prietaisai */ 

.d1 {
width: 960px;
height: 200px;
background: fuchsia;
-webkit-transition: 3s;
}

.d1:hover {
    background: yellow;
    -webkit-transition: 3s;
    transition: 3s;
}

/* vieno objekto proporcingumui reiksti kito atzvilgiu geriau naudoti procentinius dydzius. nes kuo daugiau skirtingu dydziu tuo sunkiau html apdoroti info */
.d2 {
    width: 50%;
    height: 200px;
    background: greenyellow;
    -webkit-transition: 3s;
}

.d2:hover {
background: red;
-webkit-transition:3s;
transition: 3s;
}