body{
    background-color: yellow;
}

.table, .table td{
    border:4px solid #2E2EFE; 
    font-size: 25px;
    border-collapse: collapse;
    border-style: double;
    text-align: left;
}

.bacgroundCoolor {
    background-color:#E6E6E6;
}

.blueline {
    background-color: #81F7F3;
}
