header {
    background: black;
    height: 140px;
    text-align: left;
    color: white;
    padding-left: 50px;
    padding-bottom: 50px;
}

.photo{
    height: 140px;
    align-content: right;
}

.photo1{
    height: 140px;
    align-content: center;
}

#app{
    border: 2px black solid;
    min-height: 200px;
    padding: 5%;
    margin: 10px 0 10px 0;
    content: 100%;
}

.align{
    margin: 10px;
}

.container{
    border: 1px black solid;
    margin-top: 10px;
}
