body{
    background-image: url("fonas.png");
    background-size: auto;
}

#header {
    height: 100px;
    background: #b94f4f;
}

#main {
    min-height: 100px;
    background: #efefef;
    width: 960px;
    /* marginai skaiciuojasi nuo virsaus i desine*/ 
    margin: 50px auto;
     /* padalina i tikslias dalis*/ 
}
    /* jei flex ivesttas i viena klase, negali jis dubliuotis kkitoje tame ppat elemente esancioje klaseje. tik atskiruose uudaruose elementuose. flex atriboja konkrecius elementus, neiskraipant jiems uzduotu dydziu */ 
.flex {
    display: flex;
}

#news {
    width: 640px;
    min-height: 100px;
    background: blue;
    margin: 5px 5px auto 5px;
}

#reklama {
    width: 320px;
    min-height: 100px;
    background: greenyellow;
    margin: 5px 5px 5px 5px ;
}

#footer {
    height: 100px;
    background: #b94f4f;
}

.article {
    width: 320px;
    min-height: 100px;
    background: honeydew;
    margin: 5px;
}

.table, table td, table th {
    font: 10px;
    margin: auto;
    border: 5px;
    text-align: left;
    border-style: solid black;
}

/* kai naudojamos #, elementui priskiriama ne classe=, bet id=. nuotrauka laikinai isima ctrl+/. ji tiesiog "nutylima" */ 
    #Vytis {
    width: 250px;
    min-height: 100px;
    margin-left: 100px;
}