body{
    background: moccasin;
}

.specialFont{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    background: url("../img/cars_wallpaper_1.png");
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
 }

#MyApp{
    background: #fff;
    border:1px solid goldenrod;
    padding:15px;
}

#AppWrap{

}

.car{
    margin-top:10px;
    margin-bottom:10px;
}

.img-wrap{
    width:300px;
}

.img-wrap img{
    width:100%;
}