body {
    background: url("../img/fonas.png");
}

.txt-field {
    color: black;
    font-style: 10px;
    border: 1px solid green;
    padding: 10px 100px;
    display: block;
}

/* irasymo laukelius padaro besikeiciancio fono. su aprasymu stiliaus zaist kaip tik norima */ 
.txt-field:focus {
    background: burlywood;
    border: 1px solid green;
    -webkit-transition: 3s;
    transition: 3s;
    -o-webkit-transition: 3s;
    transition: 3s;
}
.select-field {
    padding: 10px 25px;
    display: block;
    color: black;
    font-style: 1em;
    border: 2px solid green;
}

.container {
    width: 760px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background: gainsboro;
    border: 10px gray solid;
    padding: 20px;
    -webkit-transition:3s;
    transition: 3s;
}

/*Ūtransition padaro judanti ppradzios fona ir jo pasikeitima*/
.conteiner:hover {
    transition:3s;
    -webkit-transition: 3s;
    background: red;
}

h3 {
    font: 2em tahoma bold;
}

.lbl {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button {
    margin-top: 15px;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 10px 25px;
    background: rgb(9, 89, 116);
    color: floralwhite;
    -webkit-transition: 5s;
    transition: 5s;
}

.button:hover {
    background: rgb(136, 28, 28);
    -webkit-transition: 2s;
    transition: 2s;
}

.message {
    width: 100%;
}

.form-line {
    margin: 5px;
}

.form-line {
    padding: 5px 10px;

}
                /* naujame intarpiniame div'e "gender" apima du tos pat rusies elementus (lytis)*/
                /* "submit" bendrina apdorojamus duomenis ir siuncia juos i atminti*/
                 /* "textarea" padaro plaukiojanti teksto rasymo lauka*/
                    /* placeholder="Įrašyk savo vardą" padaro fonini teksta, i kuri praso konkreciai ka irasyt */
                