 body {
     display: block;
     display: block;
 }

.header {
    background: gray;
    min-height: 100px;
}


#main {
    background: url(../img/fonas.png) 0 center;
    min-height: 350px;
}

.gray {
    background: gray;
   height: 100px;
}

.row {
background-color: dimgray;
    margin-top: 10px;
display: block;
}

.footer {
    background: azure;
    min-height: 200px;

}

.photo {
    height: 80px;
    position: left;
    margin: 10px;
}

.btn-group {
    margin:10px; 
    position: right;
}

.content {
    background: gray;
    height: 150px;
    text-align: justify;
    min-width: 960px;
    position: justify;
    }