body{
    background: url(../img/fonas.png) 0 center;  
}
 #header{
    background:darkblue;
     padding: 5px;
    position: relative;
}

#main{
    padding-top: 5px;
    padding: top;
    position: relative;
    min-height: 400px;
}

#footer{
    padding-top: 5px;
    padding: top;
    position: relative;
    min-height: 150px;
    margin-top: 10px;
}

#cv_laukas, #cv {
    padding: 15px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

#cv_laukas {
    padding: 0;
    display: none;
}

#savybes_txt, #savybes {
    padding: 15px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

#savybes_txt {
    padding: 0;
    display: none;
}


#lygiuoti {
    background:darkblue;
    border: moccasin;
    border-style: groove;
    height: 120px;
    padding-top: 5px;
    text-align: center;
}

#lygiuoti1 {
    border: moccasin;
    border-style: groove;
    padding: 5px;
    text-align: center;
    margin-left: 0;
    }

#buttons {
    background:darkblue;
    border: moccasin;
    border-style: groove;
    height: 120px;
    padding: 5px;
    text-align: center;
}

.txt {
    text-align: center;
font-family: 'Lobster',cursive;
font: 20px;
color: moccasin;
}

.txt_1{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font: 8px;
    color: black;
}

.welcom{
    text-align: center;
    font-family: 'Lobster',cursive;
    font-size: 40px;
    color:moccasin;
}

.row {
    margin-top: 5px;
}

.photo {
    height: 50px;
    position: left;
    margin: 2px;
}

.photo1 {
    height: 175px;
    margin: 2px;
float: right;
    border-radius: 50%;   
}

.photo2 {
    width: 180px;
    margin: 2px;
float: center;
border-radius: 50%;
}

.col2 {
    min-width: 150px;
    min-height: 150px;
}

.col3 {
    min-width: 200px;
    min-height: 200px;
    float: none;
    text-align: center;
}
